@theme {
  --breakpoint-3xl: 106.875rem;

  --font-body: var(--font-pretendard), system-ui, -apple-system, sans-serif;
  --font-point: var(--font-permanent), system-ui, -apple-system, sans-serif;

  --color-background: #f8f9fa;
  --color-foreground: #0f172a;
  --color-muted: #ff66b2;
  --color-accent: #ff3e9d;
  --color-blue: #0ea5e9;
  --color-darkblue: #0b7dd4;

  --color-code-surface: #0f172a;

  --color-tag-soft: #f0f9ff;
  --color-tag-soft-alt: #f1f5f9;

  --color-post: #f9fafb;

  --color-scrollbar-thumb: rgba(15, 23, 42, 0.18);
  --color-scrollbar-thumb-hover: rgba(15, 23, 42, 0.28);
}

body {
  font-family: var(--font-body);
}

@layer base {
  .dark {
    color-scheme: dark;

    --color-background: #040523;
    --color-foreground: #ffffff;
    --color-muted: #0ea5e9;
    --color-accent: #ec4899;

    --color-post: #071024;

    --color-scrollbar-thumb: rgba(187, 187, 187, 0.852);
    --color-scrollbar-thumb-hover: rgba(15, 23, 42, 0.28);
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-thumb-hover);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) transparent;
  }
}