@import "tailwindcss";
@config "../tailwind.config.ts"; 

@theme {
  --font-body: var(--font-pretendard), system-ui, -apple-system, sans-serif;
  --font-point: var(--font-permanent), system-ui, -apple-system, sans-serif;

  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-muted: #38bdf8;
  --color-accent: #f472b6;

  --color-code-surface: #0f172a;

  --color-tag-soft: #f0f9ff;
  --color-tag-soft-alt: #f1f5f9;
}

body {
  font-family: var(--font-body);
}

@layer base {
  .dark {
    color-scheme: dark;

    --color-background: #040523;
    --color-foreground: #ffffff;
    --color-muted: #0ea5e9;
    --color-accent: #ec4899;
  }
}

@utility bg-aurora-light {
  background-image: linear-gradient(135deg, #77b4ff, #c78dff, #fe9aff);
}
@utility bg-aurora-dark {
  background-image: linear-gradient(135deg, #3a5bff, #7b3fff, #eb8cff);
}

@utility glass-panel {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  background: rgba(255, 255, 255, 0.03);
  background-blend-mode: plus-lighter;
  box-shadow: -11.15px -10.392px 48px -12px rgba(123, 63, 255, 0.4),
    -1.858px -1.732px 12px -8px rgba(119, 180, 255, 0.15),
    2.146px 2px 9.24px 0 rgba(235, 140, 255, 0.2) inset,
    1.217px 1.134px 4.62px 0 rgba(119, 180, 255, 0.4) inset;
  backdrop-filter: blur(7.58px);
}

@utility glass-tag-on {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(23, 32, 144, 0.3);
  background-blend-mode: plus-lighter;
  box-shadow: 2.146px 2px 9.24px 0 rgba(235, 140, 255, 0.13) inset,
    1.217px 1.134px 4.62px 0 rgba(119, 180, 255, 0.13) inset,
    -11.15px -10.392px 48px -12px rgba(123, 63, 255, 0.15),
    -1.858px -1.732px 12px -8px rgba(119, 180, 255, 0.15);
  backdrop-filter: blur(7.58px);
}

@utility glass-tag-off {
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(23, 32, 144, 0.07);
  background-blend-mode: plus-lighter;
  box-shadow: 2.146px 2px 9.24px 0 rgba(235, 140, 255, 0.13) inset,
    1.217px 1.134px 4.62px 0 rgba(119, 180, 255, 0.13) inset,
    -11.15px -10.392px 48px -12px rgba(123, 63, 255, 0.15),
    -1.858px -1.732px 12px -8px rgba(119, 180, 255, 0.15);
  backdrop-filter: blur(7.58px);
}

@utility glass-pagination {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: rgba(118, 137, 167, 0.1);
  backdrop-filter: blur(20px);
}

@utility glass-basic {
  border-radius: 28px;
  border: 1px solid rgba(238, 238, 238, 0);
  opacity: 0.9;
  background: rgba(255, 255, 255, 0.01);
  box-shadow:
    1px 1px 4px 0 rgba(0, 0, 0, 0.14) inset,
    -1px -1px 6px 0 rgba(255, 255, 255, 0.16) inset;
}

@utility tooltip {
  @apply relative px-3 py-1 text-xs transition-all duration-150 
  group-hover:opacity-100 group-hover:translate-y-0
  opacity-0 translate-y-1 pointer-events-none font-medium rounded-full;

  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7px);
}